.alto {
    height: 65px;
}

small {
    font-size: 10px;
}

.col-1 {
    width: 5.5555555555555%;
}

.col-2a{
    width: 14%;
}

.pos {
    position: relative;
    top: -200px;
}

.pos2 {
    position: relative;
    left: -30px;
    top: 10px;
}

.pos3 {
    position: relative;
    top: -100px;
}

.cursor {
    cursor: pointer;
}

.global {
    width: 1150px;
    overflow-x: scroll;
}

svg{
    height: 25px;
}

a{
    text-decoration: none;
}

.alto2{
height: 200px;
}